//- global nav bar
ul#nav
  li.first
    a(href='/word/list') List
  li
    a(href='/play') Play
  li.last
    a(href='/word/add') Add

- if (isLoggedIn)
  a.logout(href="/logout") Logout
- else
  a.login(href="/login") Login