//- global nav bar
ul#nav
  li.first
    a(href='/word/list') List
  li
    a(href='/play') Play
  li
    a(href='/word/add') Add

  li
    a(href='/lookup', title='WordReference API') Lookup

  - if (isLoggedIn)
    li.logout.last
      a.logout(href="/logout") Logout
  - else
    li.login.last
      a.login(href="/login") Login
