!!! 5
html
  head
    title= app.appTitle
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1= app.appTitle
    
    //- [sets the content of nav.jade to the block nav, can be overridden in child templates]
    block nav
      include includes/nav
    
    h2= pageTitle
    
    != body
  