!!! 5
html
  head
    title= app.appTitle
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    script(src='/javascripts/lesscss.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    
    - if (typeof extraScripts != 'undefined')
      - extraScripts.forEach(function(script){
          script(src='#{script}')
      - })    

  body
    h1= app.appTitle
    
    //- [sets the content of nav.jade to the block nav, can be overridden in child templates]
    block nav
      include includes/nav
    
    - if (pageTitle)
      h2= pageTitle
    
    != body
  
    - if (typeof debug != 'undefined')
      div.debug
        != debug
