//- play a random flashcard

div#play(class="lang-#{langCode}")

  div.question
    span.label= language
    = question
  
  div#answer
    ul.words
      li!= partial('word/word', word)
    
  a#show(href='#') Show

a#next(href='/play') Next &raquo;