body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

.clearlist {
  list-style: none;
  margin: 0;
  padding: 0;
}


form#add-word {
  * {
    font-size: 1.2em;
  }
  
  div.field {
    float: left;
    clear: both;
    margin-bottom: 1em;
  }
  label {
    float: left;
    width: 100px;
  }
  
  input.submit {
    float: left;
    clear: both;
  }
}


ul#nav {
  .clearlist;
  margin: 0 0 1em 0;
  
  float: left;
  width: 100%;
  clear: both;
  
  li {
    float: left;
    margin-right: 10px;
  }
  
  li.last {}
  
}

a.login, a.logout {
  display: block;
  float: right;
}

body.home #nav {
  font-size: 3em;
  
  li {
    margin-right: 2em;
  }
}


ul.words {
  float: left;
  width: 100%;
  .clearlist;
  
  li {
    float: left;
    clear: both;
    
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: dotted 1px #ccc;
    
    div {
      float: left;
    }
    
    span {
      margin: 0 20px 0 0;
      width: 100px;
      min-height: 1em;
      display: block;
      float: left;
    }
    
    span.label {
      color: #999;
      margin: 0 5px 0 0;
      width: auto;
    }
  }
  
  .links {
    float: left;
    a {
      margin-right: 1em;
    }
  }
}


#play {
  margin-bottom: 3em;

  .question {
    font-size: 3em;
    
    span.label {
      color: #999;
      margin: 0 1em 0 0;
      width: auto;
    }
  }
  
  #answer {
    display: none;
    
    font-size: 2em;
    margin-top: 1em;
    
    ul.words, ul.words li {
      width: 100%;
      clear: both;
      border-bottom: none;
    }
    
    li div {
      clear: both;
    }
    
    div.type {
      font-size: .8em;
      margin-top: .5em;
    }
    
    span {
      width: auto;
      white-space: nowrap;
    }
    span.label {
      width: 5em;
      /*clear: left;*/
    }
    
    div.links {
      clear: both;
      font-size: .5em;
      margin-top: 2em;
    }
  }
  
  a#show {
    display: block;
    margin-top: 1em;
    font-size: 2em;
  }
}

#play.lang-en #answer div.english,
#play.lang-es #answer div.spanish
 { display: none; }


a#next {
  font-size: 1.5em;
}


#messages {
  border: dashed #999 1px;
  padding: 5px 5px 0 5px;
  margin: 0 0 2em 0;
  font-weight: bold;
  clear: both;
  
  ul, li {
    list-style-type: none;
  }
  ul {
    padding-left: 0;
    margin: 0;
    
    li {
      margin-bottom: .5em;
    }
  }
  span.msg-type {
    color: #999;
    padding-right: 1em;
  }
  
  ul.error {
    span.msg-type {
      color: red;
    }
  }
}


#footer {
  float: left;
  width: 100%;
  .clearlist;
  font-size: .8em;
  color: #999;
  margin: 4em 0 0 0;
  padding: .5em 0 1em 0;
  /*border-top: dashed #999 1px;*/
}